<%- include('partials/head')%>

    <body>
        <%- include('partials/navbar')%>

            <div class="text text-center mt-3">
                <h2>A place to share knowledge and solutions for farmers, gardeners, foragers, hunters and fishers</h2>
            </div>

            <div class="container mt-3 p-3 mb-3" style="background: rgba(0, 0, 0, 0.3);">
                <div class="row">
                    <% for(let i=0; i < categories.length; i++){ %>

                        <div class="col-md-2 mb-3 mt-3">

                            <div class="card shadow-lg catCard">
                                <a href=<%="/categories/" + categories[i].id %>
                                    <span>

                                        <img class="card-img-top img-fluid" src="<%= categories[i].image %>"
                                            alt="Card image cap">
                                        <div class="card-body px-0 py-3 text-center font-weight-bold">

                                            <p class="card-text">
                                                <%= categories[i].name %>
                                            </p>


                                        </div>
                                    </span>
                                </a>
                            </div>

                        </div>

                        <% } %>
                </div>
            </div>

            <%- include('partials/footer')%>





                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                    crossorigin="anonymous"></script>
    </body>

    </html>